{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if notes %}
<div class="container mb-4">
    <div class="row">
        {% for note in notes %}
        <div class="col-md-3 mb-4">
            <a href="{% url 'notes-detail' note.id %}">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="text-truncate mr-2 font-weight-bold">{{note.title}}</span>
                        <span class="badge badge-primary">{{note.subject}}</span>
                    </div>
                    <div class="card-body">{{note.description|slice:"0:100"}}</div>
                    <div class="card-footer mt-auto"><a href="{% url 'delete-note' note.id %}">
                            <i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<br><br>
{% endif %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>

{% endblock content %}